

# imports for "envRefClass" ----


# importFrom(methods,
#
#     # copy:
#     new,
#
#     # export:
#     getClass,
#     new,
#     as,
#
#     # import:
#     getClass,
#     is,
#
#     # initFields:
#     initRefFields,
#
#     # show:
#     classLabel,
#
#     # trace:
#     .TraceWithMethods,
#
#     # untrace:
#     .TraceWithMethods)


# other imports             ----


importFrom(methods,
    as,
    callNextMethod,
    extends,
    getClass,
    getClassDef,
    getPackageName,
    initialize,
    is,
    isVirtualClass,
    makeClassRepresentation,
    new,
    packageSlot,
    possibleExtends,
    setClass,
    setLoadAction,
    show)


# exports                   ----


export(setIrisClass, field, method, property)


exportClasses("iris::FieldDef",
              "iris::MethodDef",
              "iris::PropertyDef",
              "iris::object",
              "iris::class")


exportMethods(initialize, show)


S3method(print   , "iris::method")


S3method("$"     , "iris::object")
S3method("$<-"   , "iris::object")
S3method("[["    , "iris::object")
S3method("[[<-"  , "iris::object")
S3method(print   , "iris::object")
S3method(toString, "iris::object")


S3method(print   , "iris::class" )
